---
import socialData from '../data/social.json';
---
<div class="flex flex-wrap gap-5 items-center">
  {socialData.map((link) => {
    const platform = link.platform.toLowerCase();
    return (
      <a 
        href={link.url} 
        target="_blank" 
        rel="noopener noreferrer" 
        class="inline-flex items-center justify-center w-12 h-12 rounded-xl border border-slate-200 bg-white text-slate-600 hover:text-amber-600 hover:border-amber-500 shadow-sm dark:border-slate-800 dark:bg-slate-900 dark:text-slate-400 dark:hover:text-amber-400 dark:hover:border-amber-500 transition-all duration-200 hover:-translate-y-1 hover:shadow-md"
        title={link.platform}
      >
        {platform === 'email' && (
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0l-7.5-4.615a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
        )}
        {platform === 'linkedin' && (
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.779-1.75-1.75s.784-1.75 1.75-1.75 1.75.779 1.75 1.75-.784 1.75-1.75 1.75zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
          </svg>
        )}
        {platform === 'github' && (
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.166 6.839 9.489.5.092.682-.217.682-.482 0-.237-.008-.866-.013-1.7-2.782.603-3.369-1.34-3.369-1.34-.454-1.156-1.11-1.464-1.11-1.464-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.831.092-.646.35-1.086.636-1.336-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.029-2.683-.103-.253-.446-1.27.098-2.647 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.294 2.747-1.025 2.747-1.025.546 1.377.203 2.394.1 2.647.64.699 1.028 1.592 1.028 2.683 0 3.842-2.339 4.687-4.566 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.743 0 .267.18.579.688.481C19.137 20.162 22 16.418 22 12c0-5.523-4.477-10-10-10z"/>
          </svg>
        )}
        {platform === 'whatsapp' && (
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.004 2C6.48 2 2.001 6.477 2.001 12c0 1.892.527 3.662 1.446 5.178L2 22l5.01-.1.97-.282A9.957 9.957 0 0012.004 22c5.522 0 10.001-4.477 10.001-10S17.526 2 12.004 2zm5.72 13.088c-.314.882-1.543 1.62-2.126 1.716-.547.09-1.258.127-3.64-.86-3.047-1.263-4.97-4.398-5.122-4.602-.152-.204-1.22-1.626-1.22-3.107 0-1.48.777-2.209 1.054-2.504.23-.245.603-.362.966-.362.119 0 .227.006.319.01.272.012.408.028.587.458.223.536.763 1.858.829 1.993.066.134.11.29.02.469-.089.18-.134.29-.267.447-.134.156-.282.35-.403.47-.135.134-.277.28-.119.552.158.272.705 1.163 1.513 1.883.834.743 1.536.972 1.808 1.083.272.111.431.092.592-.092.161-.184.693-.807.877-1.083.184-.276.368-.23.62-.138.253.092 1.607.758 1.884.896.276.138.46.207.528.322.069.115.069.666-.245 1.548z" />
          </svg>
        )}
        {platform === 'line' && (
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
            <path d="M24 10.304c0-5.36-5.385-9.72-12-9.72s-12 4.36-12 9.72c0 4.805 4.27 8.82 10.045 9.58.39.085.925.26 1.06.595.12.3.08.765.04 1.065l-.175 1.055c-.055.33-.26 1.29 1.12.7.39-.165 2.11-1.24 2.875-1.92 1.375-1.12 2.505-2.23 3.32-3.665 3.515-2.215 5.715-5.59 5.715-9.41zm-15.65 3.195h-2.135c-.32 0-.58-.26-.58-.58v-4.59c0-.32.26-.58.58-.58s.58.26.58.58v4.01h1.555c.32 0 .58.26.58.58s-.26.58-.58.58zm2.66-.58c0 .32-.26.58-.58.58s-.58-.26-.58-.58v-4.59c0-.32.26-.58.58-.58s.58.26.58.58v4.59zm5.345 0c0 .245-.155.46-.385.54-.065.025-.13.035-.195.035-.165 0-.325-.07-.435-.2l-2.075-2.67v2.295c0 .32-.26.58-.58.58s-.58-.26-.58-.58v-4.59c0-.245.155-.46.385-.54.23-.08.49-.03.67.165l2.03 2.605v-2.23c0-.32.26-.58.58-.58s.58.26.58.58v4.59zm3.56-2.58h-1.48v1.425h1.48c.32 0 .58.26.58.58s-.26.58-.58.58h-2.06c-.32 0-.58-.26-.58-.58v-4.59c0-.32.26-.58.58-.58h2.06c.32 0 .58.26.58.58s-.26.58-.58.58h-1.48v1.235h1.48c.32 0 .58.26.58.58s-.26.58-.58.58z"/>
          </svg>
        )}
      </a>
    );
  })}
</div>
